body {
    font-family: 'Helvetica now display', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #00de4e;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

.container-wrapper {
    position: relative;
    left: 20px;
    top: 100px;
    width: 500px;
    height: 250px;
    background-color: #004e00;
    cursor: pointer;
    padding: 20px;
    overflow: hidden;
}

.container-wrapper h1 {
    font-size: 5em;
    font-weight: 800;
    margin: 0px auto;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #4e0900;
    transition: all 700ms ease-in-out 10ms;
    z-index: 0;
    color: transparent;
    background-clip: content-box;
}

.container-wrapper:hover .circle {
    left: calc(100% - 200px);
    z-index: 1;
    color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
}

.bg-blue {
    margin-top: 200px;
    background-color: #2e57c9;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    cursor: pointer;
    transition: all 500ms ease-in-out 10ms;
}

.bg-blue p {
    line-height: 1.8em;
}

.btn {
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #2e57c9;
    transition: all 300ms ease-in-out 100ms;
}

.bg-blue:hover {
    background-color: #ffffff;
    color: #000000;
}

.bg-blue:hover .btn {
    background-color: #2e57c9;
    color: #ffffff;
}