body {
    font-family: 'Helvetica now display', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #00de4e;
    padding: 0px;
    margin: 0px;
    color: #000000;
}

.container-wrapper {
    position: relative;
    left: 20px;
    top: 100px;
    width: 500px;
    height: 250px;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    padding: 20px;
}

h1 {
    font-size: 5em;
    font-weight: 800;
    margin: 0px auto;
    padding: 10px;

    position: absolute;
    top: 30px;
    left: 10px;
}

.circle h1 {
    color: #ffffff;
    transition: all 1500ms ease-in-out 200ms;
    clip-path: circle(25% at 20%);
    background-color: #2e57c9;
    animation: circlemove 5000ms 1;
}

@keyframes circlemove {
    0% {
        clip-path: circle(25% at 20%);
    }
    25% {
        clip-path: circle(20% at 50%);
    }
    50% {
        clip-path: circle(25% at 80%);
    }
    75% {
        clip-path: circle(20% at 40%);
    }
    100%{
        clip-path: circle(25% at 20%);
    }
}

.container-wrapper:hover .circle h1 {
    clip-path: circle(25% at 80%);
}

.bg-blue {
    margin-top: 200px;
    background-color: #2e57c9;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    cursor: pointer;
    transition: all 500ms ease-in-out 10ms;
}

.bg-blue p {
    line-height: 1.8em;
}

.btn {
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #2e57c9;
    transition: all 300ms ease-in-out 100ms;
}

.bg-blue:hover {
    background-color: #ffffff;
    color: #000000;
}

.bg-blue:hover .btn {
    background-color: #2e57c9;
    color: #ffffff;
}